<div class="text-center container p-3">

    <p>Conoce mas</p>
    <h2 class="title"> Sobre mi </h2>

    <div class="container ">
        <div class="container about-container">
            <p>
                <span class="text-primary ps-3 fw-semibold">Hola!</span>, soy Federico Gorosito estudiante de Analista Programador en la Universidad Abierta Interamericana.
                Estoy buscando mi primera experiencia profesional en el ámbito IT como desarrollador de software, <span class="fw-bold">me especializo en proyectos web con .net core MVC. </span>
                Soy una persona apasionada por lo que hago, con una gran inclinación hacia los desafíos,
                las metas y proyectos en constante cambio.
            </p>
        </div>
        <div class="container">
            <div class="row habilidades-educacion-container">
                <!-- Columna 1 -->
                <div class="col-12 col-md-6 text-center habilidades">
                    <img src="~/assets/habilidades.png"
                         alt="icono habilidades"
                         class="icon" />

                    <div class="d-flex justify-content-center">
                        <ul class="list-unstyled text-start">
                            <li class="fw-semibold fs-3">Habilidades</li>
                            <li class="text-primary fw-semibold fs-4">Frontend</li>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Javascript</li>
                            <li>BootStrap</li>
                            <li>Razor Pages</li>
                            <li>ASP.NET Core MVC</li>
                            <li class="text-primary fw-semibold fs-4">Backend</li>
                            <li>C#</li>
                            <li>ASP.NET Core</li>
                            <li>Entity Framework</li>
                            <li>ADO .NET</li>
                            <li class="text-primary fw-semibold fs-4">Base de datos</li>
                            <li>SQL Server</li>
                            <li class="text-primary fw-semibold fs-4">Herramientas</li>
                            <li>Git</li>
                            <li>Github</li>
                            <li>Visual Studio</li>
                            <li>Winforms</li>
                        </ul>
                    </div>
                </div>

                <!-- Columna 2 con línea a la izquierda -->
                <div class="col-12 col-md-6 border-md-start educacion">
                    <img src="~/assets/educacion.png"
                         alt="icono educacion"
                         class="icon" />
                    <ul class="list-unstyled text-center">
                        <li class="fw-semibold fs-3">Educacion</li>
                        <li class="text-primary fw-semibold fs-4">Facultad</li>
                        <li>
                            <p>
                                Tecnicatura Analista Programador <br />
                                Universidad Abierta Interamericana (Marzo 2024 - En curso)
                            </p>
                        </li>
                        <li class="text-primary fw-semibold fs-4">Cursos</li>
                        <li>
                            <p>
                                Curso ASP.NET Core MVC 9<br />
                                Udemy Academy, 2025(En curso)
                            </p>
                        </li>
                        <li>
                            <p>
                                Curso C# Nivel 1 <br />
                                Maxi programa (Finalizado Octubre 2024)
                            </p>
                        </li>
                        <li>
                            <p>
                                Curso C# Basico<br />
                                Udemy Academy (Finalizado Agosto 2024)
                            </p>
                        </li>
                        <li>
                            <p>
                                Curso Reparacion de PC <br />
                                Comunidad Reparando (Finalizado Junio 2023)
                            </p>
                        </li>
                        <li>
                            <p>
                                Frontend React Developer <br /> 
                                CoderHouse (Finalizado Abril 2023)
                            </p>
                        </li>
                    </ul>

                </div>
            </div>
        </div>


    </div>
</div>