<div class="text-center container p-3">

    <p>Conoce mas</p>
    <h2 class="title"> Sobre mi </h2>

    <div class="container ">
        <div class="container about-container">
            <p>
                <span class="text-primary ps-3 fw-semibold">Hola!</span>, soy Federico Gorosito estudiante de Analista Programador en la Universidad Abierta Interamericana.
                Estoy buscando mi primera experiencia profesional en el ámbito IT como desarrollador de software, <span class="fw-bold">me especializo en proyectos web con .net core MVC. </span>
                Soy una persona apasionada por lo que hago, con una gran inclinación hacia los desafíos,
                las metas y proyectos en constante cambio.
            </p>
        </div>
        <div class="container">
            <div class="row habilidades-educacion-container">
                <!-- Columna 1 -->
                <div class="col-12 col-md-6 text-center habilidades">
                    <img src="~/assets/habilidades.png"
                         alt="icono habilidades"
                         class="icon" />

                    <div class="d-flex justify-content-center">
                        <ul class="list-unstyled text-start">
                            <li class="fw-semibold fs-3">Habilidades</li>
                            <li>C#</li>
                            <li>MVC</li>
                            <li>ASP .NET</li>
                            <li>.NET Framework</li>
                            <li>Winforms</li>
                            <li>SQL Server</li>
                            <li>Entity Framework</li>
                            <li>ADO .NET</li>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Javascript</li>
                        </ul>
                    </div>
                </div>

                <!-- Columna 2 con línea a la izquierda -->
                <div class="col-12 col-md-6 border-md-start educacion">
                    <img src="~/assets/educacion.png"
                         alt="icono educacion"
                         class="icon" />
                    <ul class="list-unstyled text-center">
                        <li class="fw-semibold fs-3">Educacion</li>
                        <li>
                            <p>
                                Tecnicatura Analista Programador <br />
                                Universidad Abierta Interamericana (Marzo 2024 - En curso)
                            </p>
                        </li>
                        <li>

                            <p>
                                Curso C# Nivel 1 <br />
                                Maxi programa (Finalizado Octubre 2024)
                            </p>
                        </li>
                        <li>
                            <p>
                                Maxi Programa <br />
                                Curso C# Nivel 2 (En Curso)
                            </p>
                        </li>
                        <li>
                            <p>
                                CoderHouse <br />
                                Frontend React Developer (Finalizado Abril 2023)
                            </p>
                        </li>
                    </ul>

                </div>
            </div>
        </div>


    </div>
</div>