<div class=" d-flex flex-column justify-content-center align-items-center flex-grow-1 gap-4 text-center p-4 text-center" style="min-height: 70vh;">

    <div class="d-flex flex-column flex-md-row align-items-center justify-content-center gap-4 m-1">


        <div class="">
            <img src="./assets/profile.jpg"
                 alt="foto de perfil"
                 style="border-radius: 1.5rem; width:15rem;" />
        </div>

        <div class="">

            <div class="d-flex align-items-center justify-content-center flex-column">

                <div class="m-1">
                    <h2 class="title">Bienvenidos, soy <span class="text-primary font-monospace">Federico Gorosito</span></h2>
                    <h4>Desarrollador Full-Stack .NET</h4>
                </div>

                <div class="d-flex align-items-center p-2">
                    <button class="btn btn-primary m-1"
                            onclick="window.open('./assets/FedericoGorosito_CV.pdf')">
                        Descargar Cv
                    </button>

                    <button class="btn btn-primary m-1"
                            onclick="scrollToSection('contact')">
                        Contactame
                    </button>
                </div>

                <div class="d-flex">
                    <div id="socials-container" class="justify-content-around">
                        <img src="./assets/linkedin.png"
                             alt="Perfil de linkedin"
                             style="width: 2rem;"
                             onclick="location.href = 'https://www.linkedin.com/in/federico-agust%C3%ADn-gorosito-b86a79197/'" />
                        <img src="./assets/github.png"
                             alt="Perfil de github"
                             style="width: 2rem;"
                             onclick="location.href = 'https://github.com/GorositoFedericoA'" />
                    </div>
                </div>
            </div>

        </div>



    </div>
</div>