@model IEnumerable<Proyecto>


<div class="container text-center mt-3 p-1">
    <h2>Proyectos</h2>
    <p>Estos son algunos de mis proyectos</p>
    
</div>


<partial name="_ListadoProyectos" model="Model" />