@model ContactoViewModel

@{
    ViewData["Title"] = "Contacto";
}

<div class="container mt-3 p-2 ">
    <h1 class="title text-center">Contacto</h1>


    <form class="m-2 p-2 " asp-controller="Home" asp-action="Contacto" method="post">
        <div class="mb-3">
            <label asp-for="Nombre" class="form-label">Nombre:</label>
            <input asp-for="Nombre" type="text" class="form-control" placeholder="Escriba su nombre..." />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Email" class="form-label">Email:</label>
            <input asp-for="Email" type="email" autocomplete="on" class="form-control"  placeholder="nombre@ejemplo.com" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Mensaje" class="form-label">Mensaje:</label>
            <textarea asp-for="Mensaje" type="text" class="form-control"  rows="3" placeholder="Escriba su mensaje..."></textarea>
            <span asp-validation-for="Mensaje" class="text-danger"></span>
        </div>
        <div class="g-recaptcha" data-sitekey="TU_SITE_KEY"></div>
        <button type="submit" class="btn btn-primary">
            Enviar
        </button>
    </form>

    @section Scripts {
        <!-- Necesario para validación en cliente -->
        <partial name="_ValidationScriptsPartial" />
    }

    @if (TempData["Mensaje"] != null)
    {
        <div class="alert alert-success mt-3" role="alert">
            @TempData["Mensaje"]
        </div>
    }
</div>

