@model HomeIndexViewModel

@{
    ViewData["Title"] = "Home";
}



<partial name="_Home" />
<div class="about-index-container">
    <partial name="_About" />
</div>
<partial name="_ProyectosIndex" model="Model.Proyectos" />