
@model IEnumerable<Proyecto>

@{
    ViewData["Title"] = "Proyectos";
}

<div class="container text-center">
    <h2>Proyectos</h2>
    <p>Estos son mis proyectos!</p>

</div>


<partial name="_ListadoProyectos" model="Model" />